* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #F0F8FF;
}

/*banner*/

.banner {
  width: 100%;
  height: 10%;
  position: absolute;
  background-color: white;
}

img {
  margin: 10px 10px;
  vertical-align: middle;
}

h1 {
  display: inline;
  vertical-align: middle;
}

/*main_container*/

.main_container {
  width: 80%;
  height: 80%;
  margin: auto;
  position: relative;
  top: 120px;
  left: 5px;
  background-color: white;
}

/*button section*/

.button_container {
  width: 100%;
  height: 10%;
  border-bottom: #F0F8FF solid 3px;
  position: absolute;
}

.button_small_container {
  width: 50%;
  height: 10%;
  position: relative;
  left: 50px;
  top: 10px;
}

.button_one {
  background-color: #6495ED;
  border: #6495ED solid 2px;
  color: white;
  padding: 8px 20px;
  font-size: 11px;
  border-radius: 5px;
}

.button_two {
  background-color: white;
  border: #D3D3D3 solid 2px;
  color: #D3D3D3;
  padding: 8px 20px;
  font-size: 11px;
  border-radius: 5px;
}

/*list section*/

.list_section {
  width: 100%;
  height: 30%;
  position: absolute;
  top: 80px;
  margin: 40px;
}

li {
  list-style: none;
  margin-top: 20px;
  font-size: 13px;
}

h2 {
  font-size: 20px;
  margin: 5px;
}

.list_section h2::before {
  content: '\25BE';
  margin: 5px;
}

.little_container_blue {
  background-color: #6495ED;
  border-radius: 20px;
  color: white;
  padding: 6px;
  margin: 10px;
  font-size: 8px;
}

.little_container_pink{
  border-radius: 20px;
  color: white;
  padding: 6px;
  margin: 10px;
  font-size: 8px;
  background-color: #FF69B4;
}

.little_container_green {
  border-radius: 20px;
  color: white;
  padding: 6px;
  margin: 10px;
  font-size: 8px;
  background-color: #66CDAA;
}

.little_container_orange {
  border-radius: 20px;
  color: white;
  padding: 6px;
  margin: 10px;
  font-size: 8px;
  background-color: #FFA500;
}

.little_container_violet {
  border-radius: 20px;
  color: white;
  padding: 6px;
  margin: 10px;
  font-size: 8px;
  background-color: #9400D3;
}

li .simbolo::before {
  border: #66CDAA solid 1px;
  border-radius: 50%;
  content:'\2713';
  margin: 5px;
  padding: 2px;
  font-size: 10px;
  color: #66CDAA;
}

.negativo .simbolo::before {
  border: #B22222 solid 1px;
  border-radius: 50%;
  content:'\2573';
  margin: 5px;
  padding: 2px;
  font-size: 7px;
  color: #B22222;
}
